doctype html
html(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5.0')
        title El acoso escolar según estatus social
        meta(name='description', content='Se ha estudiado el problema de dos municipios de la Comunidad de Madrid de entornos socioeconómicos dispares (Fuenlabrada y Pozuelo) recabando la opinión de los/as alumnos/as y de los directores de los centros respecto al acoso escolar con el fin de comprobar si se confirma que el perfil sociofamiliar influye y mejorar la comprensión global del acoso escolar en el entorno que se produce.')
        meta(name='keywords', content='')
        //-
            link(rel='canonical', href='https://peluqueriacanessa.com/' hreflang='es')
            link(rel='alternate', href='https://peluqueriacanessa.com/#!' hreflang='es')
            link(rel='alternate', href='https://peluqueriacanessa.com#!' hreflang='es')
        //- All (common) METATAGS in head tag
        include includes/metatags
        
    body
        //----------------------
        //- ( main View / Page )
        //----------------------
        .main
            .sidebar-hover
                img.logo-urjc(src='img/logo/urjc_madrid.svg', title='Logotipo Universidad Rey Juan carlos de Madrid', alt='Logotipo Universidad Rey Juan carlos de Madrid')
                p.pagination
                    span.page 01
                    |  /
                    |
                    span.total-pages 08
            //- (hidden navigation) to select Slide
            //-------------------------------------
            .sidebar-real
                .nav-elem.nav-1.active(data-page='1')
                .nav-elem.nav-2(data-page='2')
                .nav-elem.nav-3(data-page='3')
                .nav-elem.nav-4(data-page='4')
                .nav-elem.nav-5(data-page='5')
                .nav-elem.nav-6(data-page='6')
                .nav-elem.nav-7(data-page='7')
                .nav-elem.nav-8(data-page='8')
                .nav-elem.nav-9(data-page='9')
            //- each Slide (page content)
            //---------------------------
            .sections
                //- (1) slide :: "cover"
                .section.section-1
                    .left-part
                    .content
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        h2.section-heading !{slides.cover.title}
                        .additional-text !{slides.cover.subtitle}
                //- (2) slide :: "one"
                .section.section-2
                    .left-part
                    .content
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        h2.section-heading #{slides.one.title}
                        .additional-text
                          each paragraph, i in slides.one.paragraphs
                            p !{paragraph}
                //- (3) slide :: "two"
                .section.section-3
                    .left-part
                    .content
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        h2.section-heading #{slides.two.title}
                        .additional-text
                          each paragraph, i in slides.two.paragraphs
                            p !{paragraph}
                //- (4) slide :: "three"
                .section.section-4
                    .left-part
                    .content
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        h2.section-heading #{slides.three.title}
                        .additional-text
                          each paragraph, i in slides.three.paragraphs
                            p !{paragraph}
                //- (5) slide :: "four"
                .section.section-5
                    .left-part
                    .content
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        h2.section-heading #{slides.four.title}
                        .additional-text
                          each paragraph, i in slides.four.paragraphs
                            p !{paragraph}
                //- (6) slide :: "five"
                .section.section-6
                    .left-part
                    .content
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        h2.section-heading #{slides.five.title}
                        .additional-text
                          each paragraph, i in slides.five.paragraphs
                            p !{paragraph}
                //- (7) slide :: "six"
                .section.section-7
                    .left-part
                    .content
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        h2.section-heading #{slides.six.title}
                        .additional-text
                          each paragraph, i in slides.six.paragraphs
                            p !{paragraph}
                //- (8) slide :: "seven"
                .section.section-8
                    .left-part
                    .content
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        h2.section-heading #{slides.seven.title}
                        .additional-text
                          each paragraph, i in slides.seven.paragraphs
                            p !{paragraph}
                //- (9) slide :: "end"
                .section.section-9
                    .left-part
                    .content
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        .bg-part
                        h2.section-heading !{slides.end.title}
                        .check-out.additional-text
                          each paragraph, i in slides.end.paragraphs
                            p !{paragraph}
                        //-
                            | Check out my other
                            a(href='https://codepen.io/suez/public/', target='_blank') pens
            h2.scroll-down Scroll down

        //- main footer NAVBAR (common) in all views
            include includes/navbar

        //- MODALS MAIN NAV MOBILE sections :: "SCHEDULE / HORARIO"
            include includes/modal_schedule
        //- MODAL dialog in MOBILE devices :: "CONTACT"
            include includes/modal_contact

        //- ALL THE SCRIPTS :: jQuery, Font-Awesome, Materialize...
        include includes/scripts
          
